conda install -c conda-forge dash-bootstrap-components
pip install dash-bootstrap-components
conda install -c conda-forge watchdog

dash
dash-core-components
dash-html-components
dash-table
pandas
plotly
tensorflow
